* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.nav_btn_1:hover {
    background-color: #dadada !important;
}

.logo{
    max-width: 70px;
    max-height: 70px;
}

.red_btn {
    height:4vmax;
    width: 4vmax;
    /* min-width: 2vmax; */
    /* min-height: 2vmax; */
    border-radius: 50%;}
.get_btn{
    max-width: 19vmax;
    font-size: small;
}

.para {
    font-size: 14px;
    
}

.box {
    /* border: 2px solid red; */
    background-color: white;
    box-shadow: -1px -1px 17px rgba(0, 0, 0, 0.2);
    max-height: 280px;
    border-radius: 10px;
}
.carousel .carousel-item {
    transition: transform .5s ease-out;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}
.container {
    padding: 0 15px; 
}
.carousel-control-prev,
.carousel-control-next {
    width: 10%; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5); 
}

.carousel-control-prev {
    left: 25px;
}

.carousel-control-next {
    right: 25px; 
}

.box {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 20px;
}
.transparent{
    color: transparent!important;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .034vw;   
}
.white_btn{
    font-size: 1.1vmax;
}
.transparent,.txt,.transparent_txt{
    letter-spacing: .2vw;
    font-size: 4.5vmax;
    color: whitesmoke;

    text-transform: uppercase;
    font-weight: 500;
}
label{
    margin-left: .3vw;
}
@media (max-width: 400px) {
    .transparent,.txt{
        font-size: 2.7vmax;
    }
    
}
@media (max-width: 500px) {
    .h1_long{
        margin-right: 13vw;
    }
    .red_btn{
        height: 4.5vmax;
        width: 4.5vmax;
    }

    
}
.form_box {
    box-shadow: .3px .3px 8px rgba(0, 0, 0, 0.5);
    max-height: 430px;
    border-radius: 20px;
    
}

.link {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.anchor{
text-decoration: none!important;
color: black;
}
.link a {
    text-decoration: none;
    color: white;
}

.pannel {
    margin-bottom: 20px;
}
.h1_heading{
    font-size: 3vw;
    text-transform: capitalize;
}
.star{
    width: 3.5vmax;
    height: 3.5vmax;
}

@media (max-width: 1050px) {
    .h1_heading,.transparent,.transparent_txt{
        font-size: 2.6vmax;
    }
}
@media (min-width: 993px) {
    .nav_ul {
        margin-left: 15%!important;
    }
    
}
@media (min-width: 1200px) {
    .nav_ul {
        margin-left: 20%!important;
   
    }
    
}
@media (min-width: 1400px) {
    .nav_ul {
        margin-left: 26%!important;

    }

}
@media (max-width: 500px) {
    .link {
        gap: 10px;
    }
    .logo_footer{
        max-width: 5px;
        max-height:5px;
    }
    .star{
        width: 3vmax;
        height: 3vmax;
    }
    
    .link a{
        font-size: 11px;
    }
    div p,
    .para{

        font-size: 9px;
    }
    
    h5 {
        font-size: 12px;
    }
    .h1_heading,.transparent,.transparent_txt{
        font-size: 13px;
    }
    
}
.img-thumbnail{
    border: none;
}
#para{
    /* color: aqua; */
    text-align: justify;
}
.r_2{
    margin-top: 6vw;
}
@media (max-width: 350px) {
    .link {
        gap: 8px;
    }
    
    .link a {
        font-size: 10px;
    }
    
    .logo_footer{
        
        max-width: 6px;
        max-height: 6px;
    }
    div h5 {
        font-size: 11px;
        
    }
    .h1_heading{
        font-size: 12px;
    }
    div p,
    .para{
    
        font-size: 7px;
    }
}
